{% extends "base.html" %}

{% block title %}Study Session - TangoCards{% endblock %}

{% block content %}

<br />
<h5 id=deckName align="left">Studying:</p5>
    <br />
    <br />
    <br />

    <div id="curCard">
        <h3 align="left">{{ front }}</h3>
        <!-- <hr id=answer>
        <h3 align="left">{{ back }}</h3> -->
    </div>

    <!-- <div class="container" id="card">
    <h3 align="left">Front</h3>
    <hr id=answer>
    <h3 align="left">Back</h3>
</div> -->

    

    {% endblock %}